<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName" class="form-control col-sm-4" />
      
          <div *ngIf=" submitted && f.firstName.errors && f.firstName.errors.required">First Name is required</div>
      
  </div>
  <div class="form-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" class="form-control col-sm-4" />
      
          <div *ngIf="submitted && f.lastName.errors && f.lastName.errors.required">Last Name is required</div>
      
  </div>
 
  <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control col-sm-4"/>
      
          <div *ngIf="submitted && f.password.errors && f.password.errors.required">Password is required</div>
          <div *ngIf="submitted && f.password.errors && f.password.errors.minlength">Password must be at least 6 characters</div>
      
  </div>
  <div class="form-group">
          <label for="gender">Gender:</label>
          <input type="radio" formControlName="gender" value="male">Male
          <input type="radio" formControlName="gender" value="female">Female
          <div *ngIf="submitted && f.gender.errors && f.gender.errors.required">Please select gender</div>
  </div>
  <div class="form-group">
          
          <label for="language">Language:</label>
          <input type="checkbox" formControlName="language" value="english">English
          <input type="checkbox" formControlName="language" value="telugu">Telugu
          <div *ngIf="submitted && f.language.errors && f.language.errors.required">Please select Language</div>
  </div>
  <div class="form-group">
          
          <input type="file" formControlName="fileName">
          <div *ngIf="submitted && f.fileName.errors && f.fileName.errors.required">Please select file</div>
  </div>
  <div class="form-group">
        <select formControlName="cityName" class="form-control col-sm-4"> 
          <option value="">Select city</option>
          <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>>
      </select>
      <div *ngIf="submitted && f.cityName.errors && f.cityName.errors.required">Please select city</div>
  </div>
  <div class="form-group">
      <button  class="btn btn-primary">Register</button>
  </div>
</form>
<select (change)="onChangeState($event.target.value)">
      <option *ngFor="let sta of state" value={{sta.StateName}}>{{sta.StateName}}</option>
</select>

